@model DSTVWebApp.Models.Customer

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
@*<h2>ForgotPassword</h2>*@
<br/>
<br />
<style>
    .movedown{
        margin-top:150px;
    }
</style>
@using (Html.BeginForm()) 
{
    <div class="container  col-sm-offset-3 movedown">
        @Html.AntiForgeryToken()
        <h3 class="col-sm-offset-3 col-sm-9" style="color:#00ff21">@ViewBag.Message</h3>
        <div class="form-horizontal">
            
            @*<hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h1 class="col-sm-offset-3 col-sm-9">Reset Password</h1>
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                <div class="col-sm-offset-3 col-sm-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { style = "font-size:20px;height:50px;width:50%;border:none;border-bottom:1px solid lightgray;", placeholder="Email address"} })
                    
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn-lg btn-primary" type="submit" style="width:50%">
                        <span class="glyphicon glyphicon-send"></span>
                        Send
                    </button>
                    @*<div class="col-sm-9">
                        <input type="submit" value="Log In" class="btn btn-lg btn-primary" style="width:100%" />
                    </div>*@
                </div>
            </div>
        </div>
    </div>
  
}

