@model DSTVWebApp.Models.Payment
@{
    ViewBag.Title = "MyDstv";
}
<br/>
@*@<div class="container  col-sm-offset-5">
    
    <h2>Link Dstv Smartcard</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.smartCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.smartCardNumber, new { htmlAttributes = new { @class = "form-control", style = "font-size:16px;height:50px;border:none;border-bottom:1px solid lightgray;", placeholder= "Enter smartcard number" } })
                    @Html.ValidationMessageFor(model => model.smartCardNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.accountHolderSurname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.accountHolderSurname, new { htmlAttributes = new { @class = "form-control", style = "font-size:16px;height:50px;border:none;border-bottom:1px solid lightgray;", placeholder = "Enter Account's holder surname" } })
                    @Html.ValidationMessageFor(model => model.accountHolderSurname, "", new { @class = "text-danger" })
                </div>
            </div>

            <label class="control-label">Account Holder's Country</label>
            <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="top"title="This is the Country associated with your DSTV Subscription. Please ensure that is correct!"></span>
            <br/>
            <div class="form-group">
                
                @Html.LabelFor(model => model.accountHolderCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    <select style="width:100%" data-val="true" data-val-required="The country is required." id="accountHolderCountry" name="accountHolderCountry" class="valid">
                        <option value="Algeria">Algeria</option>
                        <option value="Angola">Angola</option>
                        <option value="Benin">Benin</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Comoros">Comoros</option>
                        <option value="DRC">DRC</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                        <option value="Ivory Coast">Ivory Coast</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Mali">Mali</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Namibia">Namibia</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Republic of the Congo">Republic of the Congo</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Réunion">Réunion</option>
                        <option value="Saint Helena">Saint Helena</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Somalia">Somalia</option>
                        <option selected="selected" value="South Africa">South Africa</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Tanzania">Tanzania</option>
                        <option value="Togo">Togo</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>

                    @Html.EditorFor(model => model.accountHolderCountry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.accountHolderCountry, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" value="Link DStv Smartrard" class="btn btn-primary" style="width:100%" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>*@

<br/>
<br/>
<p style="color:#ff0000">@ViewBag.error</p>
<p style="color:#ff0000">@ViewBag.success</p> 
<h2 class="text-center" style="color:#808080">Link DStv Smartcard</h2>
<div class="container" style="padding-left:112px;margin-right:100px;display:block">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#smart"><b style="color:#1f82fc">Smartcard number</b></a></li>
        <li><a style="pointer-events: none; cursor: default;" href="#"><b>OR</b></a></li>
        <li><a data-toggle="tab" href="#cust"><b style="color:#1f82fc">Customer number</b></a></li>
    </ul>

    <div class="tab-content" style="margin-left:70px">
        <div id="smart" class="tab-pane fade in active">
           @using (Html.BeginForm())
           {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
               @ViewBag.Message
                @Html.Raw(ViewBag.Message)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.smartCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.smartCardNumber, new { htmlAttributes = new { @class = "form-control", style = "font-size:16px;height:50px;width:400px;border:none;border-bottom:1px solid lightgray;", placeholder = "Enter Smartcard Number" } })
                        @Html.ValidationMessageFor(model => model.smartCardNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.accountHolderSurname, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.accountHolderSurname, new { htmlAttributes = new { @class = "form-control", style = "font-size:16px;height:50px;border:none;border-bottom:1px solid lightgray;", placeholder = "Enter Account's holder surname" } })
                        @Html.ValidationMessageFor(model => model.accountHolderSurname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <label class="control-label">Account Holder's Country</label>
                <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="top" title="This is the Country associated with your DSTV Subscription. Please ensure that is correct!"></span>
                <br />
                <div class="form-group">

                    @*@Html.LabelFor(model => model.accountHolderCountry, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-sm-10">
                        <select style="width:100%" data-val="true" data-val-required="The country is required." id="accountHolderCountry" name="accountHolderCountry" class="valid">
                            <option value="Algeria">Algeria</option>
                            <option value="Angola">Angola</option>
                            <option value="Benin">Benin</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Comoros">Comoros</option>
                            <option value="DRC">DRC</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Ivory Coast">Ivory Coast</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Mali">Mali</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Republic of the Congo">Republic of the Congo</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Réunion">Réunion</option>
                            <option value="Saint Helena">Saint Helena</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Somalia">Somalia</option>
                            <option selected="selected" value="South Africa">South Africa</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Togo">Togo</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>

                        @*@Html.EditorFor(model => model.accountHolderCountry, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.accountHolderCountry, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="submit" value="Link DStv Smartrard" class="btn btn-primary" style="width:100%" />
                    </div>
                </div>
            </div>
           }
        </div>

        <div id="cust" class="tab-pane fade">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.smartCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control", style = "font-size:16px;height:50px;width:400px;border:none;border-bottom:1px solid lightgray;", placeholder = "Enter Customer Number" } })
                            @Html.ValidationMessageFor(model => model.CustomerNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.accountHolderSurname, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.accountHolderSurname, new { htmlAttributes = new { @class = "form-control", style = "font-size:16px;height:50px;border:none;border-bottom:1px solid lightgray;", placeholder = "Enter Account's holder surname" } })
                            @Html.ValidationMessageFor(model => model.accountHolderSurname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="control-label">Account Holder's Country</label>
                    <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="top" title="This is the Country associated with your DSTV Subscription. Please ensure that is correct!"></span>
                    <br />
                    <div class="form-group">

                        @*@Html.LabelFor(model => model.accountHolderCountry, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-sm-10">
                            <select style="width:100%" data-val="true" data-val-required="The country is required." id="accountHolderCountry" name="accountHolderCountry" class="valid">
                                <option value="Algeria">Algeria</option>
                                <option value="Angola">Angola</option>
                                <option value="Benin">Benin</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Comoros">Comoros</option>
                                <option value="DRC">DRC</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                <option value="Ivory Coast">Ivory Coast</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Mali">Mali</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Namibia">Namibia</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Republic of the Congo">Republic of the Congo</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="Réunion">Réunion</option>
                                <option value="Saint Helena">Saint Helena</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Somalia">Somalia</option>
                                <option selected="selected" value="South Africa">South Africa</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Tanzania">Tanzania</option>
                                <option value="Togo">Togo</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>

                            @*@Html.EditorFor(model => model.accountHolderCountry, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.accountHolderCountry, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="submit" value="Link DStv Smartrard" class="btn btn-primary" style="width:100%" />
                        </div>
                    </div>
                </div>
            }
        </div>

        
    </div>
</div>


@*<div class="row">
    <div class="tab-box">
        <ul>
            <li class="tab-left" href="javascript:void(0);">First</li>
            <li class="tab-center" href="javascript:void(0);">OR</li>
            <li class="tab-right">Last</li>
        </ul>
    </div>
    
</div>*@