@model DSTVWebApp.Models.Show

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br/>
<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Admin.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.userName)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserName)
        </dd>*@
        
        <dt>
            @Html.DisplayNameFor(model => model.ShowImage)
        </dt>

        <dd>
            @{

                var base64 = Convert.ToBase64String(Model.ShowImage);
                var showImage = string.Format("data:image/png;base64,{0}", base64);
            }
            <img src="@showImage" style="max-height:200px;max-width:200px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChannelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChannelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Channel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Channel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRestriction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
